body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

#categoriesDropDown {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

.header {
    font-weight: 500;
    padding: 2.15rem 0;
    background: #4D96FF;
    margin: 0;
    text-align: center;
    font-size: 42px;
}

h2 {
    font-weight: 400;
    text-align: center;
    margin: 0;
    margin-top: 20px;
    font-size: 26px;
}

.center {
    text-align: center;
}

.start {
    text-align: center;
    margin: 20px;
}

.start-button {
    background: #FFD93D;
    margin: 0;
    font-size: 35px;
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    border: 0;
}

.start-button:hover {
    background-color: #6BCB77;
    cursor: pointer;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

.header {
    font-weight: 500;
    padding: 2.15rem 0;
    background: #4D96FF;
    margin: 0;
    text-align: center;
    font-size: 42px;
}

h2 {
    font-weight: 400;
    text-align: center;
    margin: 0;
    margin-top: 20px;
    font-size: 26px;
}

h3 {
    font-weight: 400;
    font-size: 20px;
}

.start {
    text-align: center;
    margin: 20px;
}

.start-button {
    background: #FFD93D;
    margin: 0;
    font-size: 35px;
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    border: 0;
}

.box {
    font-size: 30px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.start-button:hover,
.btn:hover {
    background-color: #6BCB77;
    cursor: pointer;
}

.btn {
    background: #FFD93D;
    margin-top: 10px;
    font-size: 20px;
    padding: 8px;
    padding-left: 12px;
    padding-right: 12px;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    border: 0;
}

.grid {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0px;
    grid-auto-rows: minmax(50px, auto);
}

.grid-elm {
    font-size: 20px;
}

.grade-button {
    margin-top: 25px;
    margin-left: 15px;
    border: 0;
    font-size: 20px;
}

.grade-button:hover {
    background-color: #939baa;
    cursor: pointer;
}


.container {
    display: flex;
}

.item {
    flex-grow: 1;
    height: 100px;
}


.item+.item {
    margin-left: 2%;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.small {
    font-size: 22px;
}

#calcBtn {
    font-size: 30px;
    margin-top: 30px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

#goalAvg {
    font-size: 20px;
    width: 60px;
    height: 30px;
}

#weightedBoxDiv {
    text-align: center;
    font-size: 25px;
}

html,
body {
    height: 100%;
}

#wrap {
    min-height: 100%;
}

#main {
    overflow: auto;
    padding-bottom: 50px;
}

#footer {
    position: relative;
    margin-top: -50px;
    height: 50px;
    clear: both;
    background-color: #4D96FF;
    font-size: 18px
}

body:before {
    content: "";
    height: 100%;
    float: left;
    width: 0;
    margin-top: -32767px;
}